@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
			   
@Model.PageItem

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>@Html.Sitecore().Field("html title")</title>

	<!-- Bootstrap Core CSS -->
	<link rel="stylesheet" href="~/assets/start-bootstrap/css/bootstrap.min.css">

	<!-- Custom Fonts -->
	<link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
	<link href='//fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="~/assets/start-bootstrap/font-awesome/css/font-awesome.min.css">

	<!-- Plugin CSS -->
	<link rel="stylesheet" href="~/assets/start-bootstrap/css/animate.min.css">

	<!-- Custom CSS -->
	<link rel="stylesheet" href="~/assets/start-bootstrap/css/creative.css">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>

<body id="page-top">
	
@Html.Sitecore().ViewRendering("/Views/start-bootstrap/navigation.cshtml",
	new { DataSource = "/sitecore/content/Home/start-bootstrap/data sources/navigation" })

@Html.Sitecore().ViewRendering("/Views/start-bootstrap/hero-section.cshtml",
	new { DataSource = "/sitecore/content/Home/start-bootstrap/data sources/hero section" })

@Html.Sitecore().Placeholder("section")

@if (Sitecore.Context.PageMode.IsNormal)
{
	<!-- jQuery -->
	<script src="~/assets/start-bootstrap/js/jquery.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="~/assets/start-bootstrap/js/bootstrap.min.js"></script>

	<!-- Plugin JavaScript -->
	<script src="~/assets/start-bootstrap/js/jquery.easing.min.js"></script>
	<script src="~/assets/start-bootstrap/js/jquery.fittext.js"></script>
	<script src="~/assets/start-bootstrap/js/wow.min.js"></script>

	<!-- Custom Theme JavaScript -->
	<script src="~/assets/start-bootstrap/js/creative.js"></script>
}
</body>



</html>
